* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  /* background: linear-gradient(#ffffff, #c0c0c0); */
  background: #e0dede;
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

/* ------------------- */
/*  start auth form  */
/* ------------------- */

/* ------------ */
/* start navbar */
/* ------------ */
nav {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding-left: 20px;
  padding-right: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #323232;
  color: #c0c0c0;
  height: 80px;
  padding: 20px;
}

.nav-links {
  display: flex;
  list-style: none;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  list-style-type: none;
}

nav ul li a {
  padding: 5px 10px;
  font-size: 1em;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

nav ul li a.active {
  background: grey;
  color: black;
}

.nav-item a {
  display: inline-block;
  padding: 10px 25px;
  text-decoration: none;
  color: white;
}

.nav-links #nav-right {
  align-items: right;
}

.cart-image {
  width: 50px;
  height: 50px;
}

#shirt-logo {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.2);
}
/* ----------------------------------- */

/* nav {
  align-items: center;
  background-color: #333333;
  color: #c0c0c0;
  display: flex;
  height: 80px;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: white;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
} */
/* ----------------------------------- */

/* ---------- */
/* end navbar */
/* ---------- */

/* ------------------- */
/*  start auth form    */
/* ------------------- */

form div {
  margin: 1em;
  display: inline-block;
}

.auth-form-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  text-align: center;
}

.auth-form-login,
.auth-form-signup {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px 2px;
  margin: 2%;
  text-align: cenleftter;
  align-items: center;
  display: flex;
  background-color: white;
  width: 300px;
  height: 300px;
}

.auth-form-signup {
  width: 300px;
  height: 400px;
}

/* ------------------- */
/*   end auth form     */
/* ------------------- */

/* ------------------- */
/*  start single item  */
/* ------------------- */
img {
  width: 300px;
  height: 300px;
}

#singleItemImage {
  width: 400px;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px 2px;
}

#singleItem {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px 2px;
  margin-bottom: 2%;
  margin: 2%;
  padding: 2%;
  width: 500px;
  height: 470px;
  flex: 2;
}

#single-item-info {
  float: left;
}

#singleItemList {
  list-style-type: none;
}

#singleItemList li {
  display: inline;
}

#sizeListItem,
#colorListItem {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px 2px;
  margin: 1%;
  padding: 1%;
  width: 20px;
  height: 20px;
}

/* .singleItemButton:focus {
  outline: none;
  box-shadow: none;
} */

.white button {
  color: black;
}

.black button,
.red button,
.orange button,
.blue button {
  color: white;
}

.singleItemQuantity {
  padding: 2%;
  width: 100px;
  height: 50px;
}

#singleItemQuantity {
  margin-top: 5%;
}

#singleItemDescription {
  font-style: italic;
}

.singleItemButton {
  border: 0px;
  background-color: transparent;
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.blue {
  background-color: blue;
}

#singleItemImageContainer {
  margin-bottom: 2%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 2%;
  flex: 2;
  flex: 2;
}

.singleItemContainer {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  /* width: 100%; */
  height: 600px;
}

#singleItemContainerSubmitButton {
  width: 100%;
  height: 55px;
  border: 2px black solid;
  font-weight: bold;
  border-radius: 10px;
  font-size: 100%;
}

#singleItemForm {
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  flex-grow: 2;
  margin: 10%;
  margin: 1em;
  width: 500px;
  background-color: white;
  padding: 2%;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px 2px;
}

.singleItemModal {
  z-index: 3;
  display: none;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.singleItemModalContent {
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 50px;
  outline: 0;
  width: 600px;
  border: 2px black solid;
  border-radius: 20px;
  width: 500px;
  height: 300px;
}

.singleItemModalButton {
  background-color: cornsilk;
}

/* ------------------- */
/*  end single item  */
/* ------------------- */

/* --------------------- */
/*   start item styles   */
/* --------------------- */

#item-wrap {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-bottom: 15px;
  background-color: grey;
}

#item-img {
  display: flex;
  padding: 20px;
  flex: 1;
}

#item-info {
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex: 2;
}

#item-info h3 {
  padding: 3px 0;
  margin: 0;
}

#item-info p {
  padding: 3px 0;
  margin: 0;
}

#item-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  flex: 1;
  width: 100%;
}
/* --------------------- */
/*   end item styles   */
/* --------------------- */

/* ------------------- */
/*  start auth form  */
/* ------------------- */

#welcome-user {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c2c2c2;
  border-bottom: rgba(0, 0, 0, 1);
  height: 50px;
  padding: 15px;
}

/* ---------------- */
/*   end auth form  */
/* -----------------*/

/* --------------------- */
/*   start profile styles   */
/* --------------------- */

#profile-wrap {
  display: flex;
  padding: 40px;
  background-color: grey;
  align-items: center;
}

#profile-img {
  display: flex;
  padding: 20px;
  flex: 1;
}

#profile-info {
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex: 2;
}

#profile-info h3 {
  padding: 3px 0;
  margin: 0;
}

#profile-info p {
  padding: 3px 0;
  margin: 0;
}

#profile-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  flex: 1;
  width: 100%;
}
/* --------------------- */
/*   end profile styles   */
/* --------------------- */

/* ---------------- */
/*   start home page */
/* -----------------*/

/* ---------------- */
/*   end home page  */
/* -----------------*/

/* ------------------ */
/* start main section */
/* ------------------ */
main {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item-component {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px 2px;
  margin: 2%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.item-component:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px 2px;
}

.all-items h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 0;
}

.item-component a {
  /* padding: 5px 5px; */
  font-size: 1em;
  /* color: white; */
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.main-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 30px 30px;
}
/* ------------------ */
/*  end main section  */
/* ------------------ */

/* ----------------------------- */
/*  start shared element styles  */
/* ----------------------------- */

.delete-btn {
  float: right;
}

/* ----------------------------- */
/*   end shared element styles   */
/* ----------------------------- */

/* ---------------- */
/*   end home page  */
/* -----------------*/

/* ---------------- */
/*   start cart page  */
/* -----------------*/

.outerContainer {
  width: 100vw;
  display: flex;
}

.cart {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  text-align: center;
}

.cartItem {
  display: flex;
  justify-content: space-evenly;
  margin: 2%;
  background-color: white;
  border: 0.5px black solid;
  box-shadow: #333333 2px 2px 2px 2px;
}

.cartOrderSummary {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1.6em;
  margin: 2%;
  flex-grow: 1;
  background-color: white;
  border: 2px black solid;
  box-shadow: #333333 2px 2px 2px 2px;
}

.billing-container {
  display: flex;
  margin-top: 5%;
}

.billing-form {
  display: flex;
  flex-direction: column;
  padding: 1.6em;
  margin: 2%;
  flex-grow: 1;
  background-color: white;
  border: 2px black solid;
  box-shadow: #333333 2px 2px 2px 2px;
}

.checkout-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ---------------- */
/*   end cart page  */
/* -----------------*/

/* ------------------ */
/* Start Profile Page */
/* ------------------ */
.previous-orders {
  display: flex;
  flex-direction: row;
  margin: 10 px;
}

.previous-order-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
  flex: 1;
}

.previous-order-item-img {
  margin: 10px;
}

.previous-order-item-desc {
  margin: 10px;
}

.account-info {
  display: flex;
  flex-direction: row;
}

.profile-image {
  margin: 10px;
}

.profile-body {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.entire-profile-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.order-id-and-total-price {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.order-id-and-total-price h4 {
  text-decoration: underline;
}

.edit-account-info-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#edit-account-info-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#edit-account-info-form small {
  font-weight: bold;
}

#edit-account-info-form button {
  width: 120px;
  margin: 10px;
}

#edit-account-info-form label {
  margin: 5px;
}

.space {
  margin: 20px;
}

/* ---------------- */
/* End Profile Page */
/* ---------------- */
